@page
@model IndexModel
@{
    ViewData["Title"] = "Appvia";
}

<div class="text-center">
    <h1 class="display-4">Hello!!!</h1>
    <p>Running @ViewData["Runtime"] on @ViewData["HostName"].</p>
</div>
